// FlexBox

.d-f {
    display: flex;
}

.a-i-c {
    align-items: center;
}

.j-c-c {
    justify-content: center;
}

.j-c-s-b {
    justify-content: space-between;
}

.f-x-d-c {
    flex-direction: column;
}

// margin

.mb-8 {
    margin-bottom: 8px;
}

.mb-32 {
    margin-bottom: 32px;
}

.ml-32 {
    margin-left: 32px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-18 {
    margin-bottom: 18px;
}

.mb-42 {
    margin-bottom: 42px;
}

.mr-9 {
    margin-right: 9px;
}

.mr-16 {
    margin-right: 16px;
}

.ml-7 {
    margin-left: 7px;
}

.ml-24 {
    margin-right: 24px;
}

// padding

.p-12 {
    padding: 12px;
}

.p-16 {
    padding: 16px;
}

.p-32 {
    padding: 32px;
}

.ptb-16 {
    padding: 16px 0 16px 0;
}

.pr-16 {
    padding-right: 16px;
}

.pl-16 {
    padding-left: 16px;
}

.pl-32 {
    padding-left: 32px;
}

.pt-12 {
    padding-top: 12px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pb-32 {
    padding-bottom: 32px;
}

// font 

.lh-15 {
    line-height: 1.5;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

.fw-bold {
    font-weight: bold;
}

.fz-12 {
    font-size: 12px;
}

.fz-14 {
    font-size: 14px;
}

.fz-16 {
    font-size: 16px;
}

.fz-20 {
    font-size: 20px;
}

.fz-24 {
    font-size: 24px;
}

.fc-white {
    color: #fff;
}

.fc-red {
    color: red;
}

.fc-gray-600 {
    color: #6C757D;
}

.fc-gray-900 {
    color: #212529;
}

.fc-gray-CED4DA {
    color: #CED4DA;
}

.fc-green-198754 {
    color: #198754;
}

.bd-none {
    border: none;
}

// background

.bgc-198754 {
    background: #198754;
}

.bgc-F8F9FA {
    background: #F8F9FA;
}

// text
.t-a-r {
    text-align: right;
}