// FlexBox

.d-f {
    display: flex;
}

.a-i-c {
    align-items: center;
}

.j-c-c {
    justify-content: center;
}

.j-c-s-b {
    justify-content: space-between;
}

.f-x-d-c {
    flex-direction: column;
}

// margin

.mb-32 {
    margin-bottom: 32px;
}

.ml-32 {
    margin-left: 32px;
}

.mb-42 {
    margin-bottom: 42px;
}

.mr-16 {
    margin-right: 16px;
}

// padding

.pl-32 {
    padding-left: 32px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-32 {
    padding-bottom: 32px;
}

// font 

.fw-700 {
    font-weight: 700;
}

.fz-14 {
    font-size: 14px;
}

.fc-gray-600 {
    color: #6C757D;
}